<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="CRMURL" value="https://isvmotionuat.api.crm.dynamics.com/XRMServices/2011/Organization.svc"/>
    <!--<add key="username" value="ccrmdeva@microsoft.com"/>
    <add key="password" value="C!0udcrm@((0unt"/>-->
    <add key="username" value="ccrmfb@microsoft.com"/>
    <add key="password" value="C(rmfb@((ounT1@"/>
    
  </appSettings>
  <!--<connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=Azccrminttst1;Initial Catalog=MPCIntegration_Staging;Integrated Security=True;User ID=REDMOND\CCRMDEVA;Password=C!0udcrm@((0unt"/>
  </connectionStrings>-->
</configuration>